
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> project/private-storage ###
/storage/
/var/uploads/
###< project/private-storage ###

###> ide/editor ###
.idea/
.vscode/
.cursor/
###< ide/editor ###

###> os ###
.DS_Store
Thumbs.db
###< os ###
